.btn{
    display: inline-block;
    background-color:#007bff;
    border-color: #007bff;
    color: #fff;
    padding: 5px;text-align: center;
    font-weight: 400;
    border-radius: 0.25rem;
    margin-top: 15px;
    line-height:1.5;
    cursor: pointer;
}