.App-header{
    background-color: cadetblue;
    height: 50px;
    .headerIcon{
        content: attr(data-count);
        float:right;
        padding-top:1%;
        padding-right:2%;
        cursor: pointer;
        &.fa-stack[data-count]:after{
            position:absolute;
            content: attr(data-count);
            left:20%;
            top:1%;
            font-size:10px;
            padding:.6em;
            border-radius:100px;
            line-height:.75em;
            color: rgb(238, 16, 16);
            background: whitesmoke;
            text-align:center;
            min-width:1em;
            font-weight:bold;
          }
    }
  }